.blogsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  padding: 20px;
}

.image_wrapper {
  width: 100%;
  max-width: 450px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.image_wrapper img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 60%;
}

.blogContent {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.readMoreButton {
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.readMoreButton:hover {
  color: green;
}

.heading {
  font-size: 70px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .blogsContainer {
    grid-template-columns: 1fr;
  }

  .image_wrapper,
  .blogContent {
    width: 100%;
  }

  .heading {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .image_wrapper {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .image_wrapper img {
    max-width: 100%;
    max-height: 300px;
  }

  .blogContent {
    width: 100%;
    max-width: 100%;
  }

  .heading {
    font-size: 35px;
  }
}
